// COLOR
$color-primary: #fdb926;
$color-secondary: #ecb130;

$color-white: #fff;

$color-gray-light-1: #e5e5e5;
$color-gray-light-2: #bebebe;

$color-black: #000;
$color-gray-dark-1: #333;

$color-red-dark: #d50000;

// LAYOUT

$container-MAX-width: 1330px;
